#jinja2: trim_blocks: True, lstrip_blocks: True
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  TIMEZONE: "{{ bootstrap_timezone }}"
  CLUSTER_CIDR: "{{ bootstrap_cluster_cidr.split(',')[0] }}"
